# BEGIN
	# this is the initialization
	Options +FollowSymLinks

	# Turns on the rewrite engine.
	RewriteEngine On
	RewriteBase /stvdi/

	# these are the rewrite conditions for directories and files not found
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	# the rewrite rules
	# RewriteRule ^(/source/.+\.php)s$ $1 [H=application/x-httpd-php-source]

	# First Parameter
	RewriteRule		^([a-zA-Z0-9\-]+)/?$	index.php?uniq=$1 [L,QSA]

	# Second Parameter
	RewriteRule		^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/?$	index.php?uniq=$1&page=$2 [L,QSA]

	# Third Parameter
	RewriteRule     ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/?$   index.php?uniq=$1&page=$2&action=$3 [L,QSA]
	RewriteRule     ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+):([a-zA-Z0-9\-]+)/?$   index.php?uniq=$1&page=$2&action=:$3 [L,QSA]

	# Four Parameter
	RewriteRule     ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([0-9]+)/?$    index.php?uniq=$1&page=$2&action=$3&query=$4 [L,QSA]

	# this block php header redirect error
	PHP_FLAG output_buffering on

# END